$green: #1DB954;

html {
    scrollbar-width: normal;
    scrollbar-color: #777 #555;

    &::-webkit-scrollbar{
        width: 1vh;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #1DB954;
    }
    &::-webkit-scrollbar-track{
        background-color: black;
    }
}
